@import "~styles/variables"

.launch-details

    &__header
        padding: 1.5em
        background-color: $almost-black
        display: flex
        justify-content: center
        align-items: center
    
    &__logo
        height: 35px