@import "../../styles/_variables.sass"

.launch-data-section
    margin-bottom: 7em

    &__heading
        margin: 0
        padding-bottom: 1em
        text-transform: uppercase
        color: $desert
        border-bottom: 2px solid $desert
        @include basic
        letter-spacing: 1em

    &__list
        padding: 0
        display: flex
        flex-wrap: wrap
        flex-direction: row
        list-style-type: none

    &__item
        padding: .5em 0 .5em 2em
        width: calc(50% - 4em - 2px)
        @include basic
        text-transform: uppercase
        border-left: 1px dashed $cool-gray
        @media screen and (max-width: 900px)
            width: calc(100% - 4em - 2px)

    &__label
        color: $cool-gray

    &__description
        color: $almost-black
        @include basic

    &__data
        display: inline-block