.launch-data-section {
  margin-bottom: 7em; }
  .launch-data-section__heading {
    margin: 0;
    padding-bottom: 1em;
    text-transform: uppercase;
    color: #ccac5b;
    border-bottom: 2px solid #ccac5b;
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    letter-spacing: 1em; }
  .launch-data-section__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none; }
  .launch-data-section__item {
    padding: .5em 0 .5em 2em;
    width: calc(50% - 4em - 2px);
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-left: 1px dashed #a7a9ac; }
    @media screen and (max-width: 900px) {
      .launch-data-section__item {
        width: calc(100% - 4em - 2px); } }
  .launch-data-section__label {
    color: #a7a9ac; }
  .launch-data-section__description {
    color: #0f1112;
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 0.1em; }
  .launch-data-section__data {
    display: inline-block; }
