@import "~styles/variables"

.footer
    padding: 2em 4em
    background-color: $dark_grey
    display: flex
    justify-content: space-between
    align-items: center
    @media (max-width: 900px)
        flex-direction: column
        justify-content: center

    &__copyright
        color: $brownish_grey
        @include basic
        text-transform: uppercase
        text-align: center

.links
    display: flex
    justify-content: center
    align-items: center
    @media (max-width: 900px)
        flex-direction: column
        justify-content: center

    &__heading
        padding: 0 .5em
        color: $brownish_grey
        border-right: 1px solid $brownish_grey
        text-transform: uppercase
        @include basic
        @media (max-width: 900px)
            border-right: 0

    &__list
        padding: .5em
        display: flex
        justify-content: center
        align-items: center


    &__li
        list-style-type: none
        padding: .5em
        text-transform: uppercase

    &__link
        color: $cool-gray
        text-decoration: none
        @include basic
        
    &__link
        
        &:hover
            text-decoration: underline